@import 'tailwindcss';

@theme {
  /* Primitives */

  /* Color Primitives */
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e1e1e1;
  --gray-400: #cacaca;
  --gray-500: #8e8e8e;
  --gray-600: #4b4b4b;
  --gray-700: #1f1f1f;

  --blue-50: #0247d24d;
  --blue-100: #0247d266;
  --blue-200: #0247d280;
  --blue-300: #0247d299;
  --blue-400: #0247d2b2;
  --blue-500: #0247d2cc;
  --blue-600: #0247d2e5;
  --blue-700: #0247d2;

  --purple-50: #c670ff4d;
  --purple-100: #c670ff66;
  --purple-200: #c670ff80;
  --purple-300: #c670ff99;
  --purple-400: #c670ffb2;
  --purple-500: #c670ffcc;
  --purple-600: #c670ffe5;
  --purple-700: #c670ff;

  --red-50: #ff4d4d;
  --red-100: #fef2f2;
  --red-200: #ffebee;
  --red-300: #ffccd2;
  --red-400: #f49898;
  --red-500: #eb6f70;
  --red-600: #f64c4c;
  --red-700: #ec2d30;

  --yellow-50: #fffdfa;
  --yellow-100: #fff9ee;
  --yellow-200: #fff7e1;
  --yellow-300: #ffeab3;
  --yellow-400: #ffdd82;
  --yellow-500: #ffc62b;
  --yellow-600: #ffad0d;
  --yellow-700: #fe9b0e;

  --green-50: #fbfefc;
  --green-100: #f2faf6;
  --green-200: #e5f5ec;
  --green-300: #c0e5d1;
  --green-400: #97d4b4;
  --green-500: #6bc497;
  --green-600: #47b881;
  --green-700: #0c9d61;

  --sky-50: #f8fcff;
  --sky-100: #f1f8ff;
  --sky-200: #e4f2ff;
  --sky-300: #bdddff;
  --sky-400: #93c8ff;
  --sky-500: #4ba1ff;
  --sky-600: #3b82f6;
  --sky-700: #3a70e2;

  --black: #010101;
  --white: #ffffff;

  /* Semantic Tokens */

  /* Colors Override */
  --color-*: initial;

  /* Colors Semantic Tokens */

  --color-primary-50: var(--blue-50);
  --color-primary-100: var(--blue-100);
  --color-primary-200: var(--blue-200);
  --color-primary-300: var(--blue-300);
  --color-primary-400: var(--blue-400);
  --color-primary-500: var(--blue-500);
  --color-primary-600: var(--blue-600);
  --color-primary-700: var(--blue-700);

  --color-secondary-50: var(--purple-50);
  --color-secondary-100: var(--purple-100);
  --color-secondary-200: var(--purple-200);
  --color-secondary-300: var(--purple-300);
  --color-secondary-400: var(--purple-400);
  --color-secondary-500: var(--purple-500);
  --color-secondary-600: var(--purple-600);
  --color-secondary-700: var(--purple-700);

  --color-neutral-50: var(--gray-50);
  --color-neutral-100: var(--gray-100);
  --color-neutral-200: var(--gray-200);
  --color-neutral-300: var(--gray-300);
  --color-neutral-400: var(--gray-400);
  --color-neutral-500: var(--gray-500);
  --color-neutral-600: var(--gray-600);
  --color-neutral-700: var(--gray-700);

  --color-success-50: var(--green-50);
  --color-success-100: var(--green-100);
  --color-success-200: var(--green-200);
  --color-success-300: var(--green-300);
  --color-success-400: var(--green-400);
  --color-success-500: var(--green-500);
  --color-success-600: var(--green-600);
  --color-success-700: var(--green-700);

  --color-warning-50: var(--yellow-50);
  --color-warning-100: var(--yellow-100);
  --color-warning-200: var(--yellow-200);
  --color-warning-300: var(--yellow-300);
  --color-warning-400: var(--yellow-400);
  --color-warning-500: var(--yellow-500);
  --color-warning-600: var(--yellow-600);
  --color-warning-700: var(--yellow-700);

  --color-error-50: var(--red-50);
  --color-error-100: var(--red-100);
  --color-error-200: var(--red-200);
  --color-error-300: var(--red-300);
  --color-error-400: var(--red-400);
  --color-error-500: var(--red-500);
  --color-error-600: var(--red-600);
  --color-error-700: var(--red-700);

  --color-info-50: var(--sky-50);
  --color-info-100: var(--sky-100);
  --color-info-200: var(--sky-200);
  --color-info-300: var(--sky-300);
  --color-info-400: var(--sky-400);
  --color-info-500: var(--sky-500);
  --color-info-600: var(--sky-600);
  --color-info-700: var(--sky-700);

  --color-black: var(--black);
  --color-white: var(--white);

  /* Mapped Colors */

  /* Text Colors */
  --color-heading: var(--color-black);
  --color-primary: var(--color-black);
  --color-action: var(--color-primary-400);
  --color-action-hover: var(--color-primary-700);
  --color-disabled: var(--color-neutral-400);
  --color-information: var(--color-info-700);
  --color-success: var(--color-success-700);
  --color-warning: var(--color-warning-700);
  --color-error: var(--color-error-700);
  --color-on-action: var(--color-white);

  /* Surface Colors */
  --color-surface-page: var(--color-white);
  --color-surface-primary: var(--color-white);
  --color-surface-disabled: var(--color-neutral-100);
  --color-surface-success: var(--color-success-50);
  --color-surface-warning: var(--color-warning-50);
  --color-surface-error: var(--color-error-50);
  --color-surface-information: var(--color-info-50);
  --color-surface-action: var(--color-primary-50);
  --color-surface-action-hover: var(--color-primary-100);

  /* Font sizes */
  --text-*: initial;
  --text-h1: 60px;
  --text-h2: 48px;
  --text-h3: 40px;
  --text-h4: 30px;
  --text-h5: 25px;
  --text-h6: 20px;
  --text-body: 16px;
  --text-body-sm: 12px;
  --text-body-lg: 20px;

  /* Line Height */
  --leading-*: initial;
  --leading-h1: 72px;
  --leading-h2: 56px;
  --leading-h3: 48px;
  --leading-h4: 36px;
  --leading-h5: 30px;
  --leading-h6: 24px;
  --leading-body: 24px;
  --leading-body-sm: 20px;
  --leading-body-lg: 32px;

  /* Letter Spacing */
  --tracking-*: initial;
  --tracking-h1: 0;
  --tracking-h2: 0;
  --tracking-h3: 0;
  --tracking-h4: 0;
  --tracking-h5: 0;
  --tracking-h6: 0;
  --tracking-body: 0;
  --tracking-body-sm: 0;
  --tracking-body-lg: 0;

  /* Spacing */
  --spacing-*: initial;
  --spacing-none: 0;
  --spacing-25: 1px;
  --spacing-50: 2px;
  --spacing-100: 4px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-500: 20px;
  --spacing-600: 24px;
  --spacing-700: 28px;
  --spacing-800: 32px;
  --spacing-900: 36px;

  /* Font weight*/
  --font-weight-*: initial;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font family */
  --font-*: initial;
  --font-primary: var(--font-inter);

  /* Border Radius */
  --radius-*: initial;
  --radius-none: 0;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 16px;

  /* Border Width */
  --border-width-*: initial;
  --border-width-none: 0;
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 4px;
}
